@import "../../../../../assets/scss/variables.scss";
.space {
  padding: 15px;
}
.atext {
  text-align: right;
}

.active {
  border-bottom: 3px solid $primary-color;
}

.head {
  // padding: 7px 10px 0px 10px;
  border-bottom: 1px solid $primary-color;
  background-color: $white-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2% 2px 20px;
  top:0;
  right: 0;
  left: 0;
  z-index: 2;
  position: fixed;
}
.b-color {
  background-color: $white-color;
  color: $primary-color;
}

//  .mat-form-field-underline {
//     display: none !important;
// }

// .mat-form-field-appearance-fill .mat-form-field-underline::before {
//   height: 0px !important;
// }
