@import "../../../../../assets/scss/variables.scss";

.carddata {
  width: 360px;
  height: 360px;
}

.roundimg {
  font-size: 2em;
  text-align: center;
}

.mat-icon-custom {
  height: auto;
  width: auto;
  font-size: 2em;
}

.design-custom {
  width: 60%;
  margin: auto;
  padding-top: 10%;
}

.product {
  box-shadow: none;
}

a {
  color: $primary-color;
}
a:hover {
  //  text-underline-position: auto;
  text-decoration: none;
}
.text-center {
  text-align: center;
  padding-top: 10px;
}
.c-click {
  cursor: pointer;
}

.mat-card {
  background-color: $body-background;
}

.negative {
  color: $primary-color;
}
