<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->



<div class="sidebar" id="sidebar">
    <!-- <div class="logo d-none d-md-none d-lg-block d-xl-block">
          <a href="#"><img src="../../assets/images/shikshalokam.png" alt="logo" /></a>
        </div> -->
    <div class="sidebar-menu">
        <h6 class="menu-title"></h6>
        <ul>
            <li><a [routerLink]="[]" class="active">
                    <span class="dashboard-icon">
                        <mat-icon>local_library </mat-icon>
                    </span>
                    Library</a>
            </li>

            <li><a [routerLink]="[]" class="active">
                    <span class="dashboard-icon">
                        <mat-icon>folder </mat-icon>
                    </span>
                    My Folder</a>
            </li>

            <li><a [routerLink]="[]" class="active">
                    <span class="dashboard-icon">
                        <mat-icon>dashboard </mat-icon>
                    </span>
                    Portals</a>
            </li>


            <li><a [routerLink]="[]" class="active">
                    <span class="dashboard-icon">
                        <mat-icon>edit </mat-icon>
                    </span>
                    Workspace</a>
            </li>

            <li><a [routerLink]="[]" class="active">
                    <span class="dashboard-icon">
                        <mat-icon>rate_review </mat-icon>
                    </span>
                    Review</a>
            </li>

            <li><a [routerLink]="[]" class="active">
                    <span class="dashboard-icon">
                        <mat-icon>assignment_late </mat-icon>
                    </span>
                    Support</a>
            </li>

            <li><a [routerLink]="['/user/multi']" class="active">
                    <span class="dashboard-icon">
                        <mat-icon>help </mat-icon>
                    </span>
                    Help</a>
            </li>

        </ul>
    </div>
</div>